<div style="height: 100vh;" > 
    <mat-toolbar color="primary"  >
        <div>
    
      
            <div *ngIf="mobile" >
                <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
                <button  color="primary" routerLink="/home" mat-flat-button >
                  Saint-Malo
                </button>
                <button mat-icon-button color="warn" routerLink="/home"  style="margin-right: 2px;;">
                  <mat-icon>home</mat-icon>
                </button>
              </div>
    

            <div  *ngIf="!mobile">
          
            <button  mat-raised-button color="primary"  routerLink="/actualites" ><mat-icon>chrome_reader_mode</mat-icon>&nbsp;Actualités</button>
          
            <button mat-raised-button color="primary"  routerLink="/agenda" ><mat-icon>view_agenda</mat-icon>&nbsp;Agenda</button>
            <button mat-raised-button color="primary"  routerLink="/maree" ><mat-icon>waves</mat-icon>&nbsp;Marées</button>
            <button mat-raised-button color="primary"  routerLink="/mouillage" ><mat-icon>phishing</mat-icon>&nbsp;Mouillage</button>
            <button mat-raised-button color="primary"  routerLink="/port" ><mat-icon>directions_boat</mat-icon>&nbsp;Port</button>
            
            <button mat-raised-button color="primary"  routerLink="/meteo" ><mat-icon>wb_sunny</mat-icon>&nbsp;Météo</button>
          
            <button mat-raised-button color="primary"  routerLink="/webcam" ><mat-icon>linked_camera</mat-icon>&nbsp;Webcam</button>
            <button mat-raised-button color="primary"  routerLink="/paquebots" ><mat-icon>sailing</mat-icon>&nbsp;Paquebots</button>
            <button mat-raised-button color="primary" ><mat-icon>info</mat-icon>&nbsp;ver: {{version}}</button>
          
          </div>
    
          </div>
      
      </mat-toolbar>
      <mat-sidenav-container style="display: flex;flex-direction: column;"   >
          <mat-sidenav color="primary"  #sidenav  mode="over" opened="false"    >
            <div style="display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
            align-content: space-around;" >
               
                <button   mat-button color="primary"  routerLink="/actualites" (click)="sidenav.toggle()" ><mat-icon>chrome_reader_mode</mat-icon>&nbsp;Actualités</button> 
               
                <button mat-button color="primary"  routerLink="/agenda" (click)="sidenav.toggle()" ><mat-icon>view_agenda</mat-icon>&nbsp;Agenda</button>
                <button mat-button color="primary"  routerLink="/maree" (click)="sidenav.toggle()" ><mat-icon>waves</mat-icon>&nbsp;Marées</button>
                <button mat-button color="primary"  routerLink="/mouillage" (click)="sidenav.toggle()"><mat-icon>phishing</mat-icon>&nbsp;Mouillage</button>
                <button mat-button color="primary"  routerLink="/port" (click)="sidenav.toggle()" ><mat-icon>directions_boat</mat-icon>&nbsp;Port</button>
                <button mat-button color="primary"  routerLink="/meteo"(click)="sidenav.toggle()" ><mat-icon>wb_sunny</mat-icon>&nbsp;Météo</button>
                
                <button mat-button color="primary"  routerLink="/webcam" (click)="sidenav.toggle()" ><mat-icon>linked_camera</mat-icon>&nbsp;Webcam</button>
                <button mat-button color="primary"  routerLink="/paquebots" (click)="sidenav.toggle()" ><mat-icon>sailing</mat-icon>&nbsp;Paquebots</button>
                <button mat-raised-button color="primary" ><mat-icon>info</mat-icon>&nbsp;ver: {{version}}</button>
            </div>
          </mat-sidenav>
          <mat-sidenav-content style="margin: 0 auto ;height: 100vh;" >
             <br><br>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
