
<div style="margin:0 auto;text-align: center;">

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngFor="let d of days" >
        <mat-button-toggle *ngIf="d.v != -1 " value="{{d.v}}"  (click)="todays(d)" >{{d.l}}</mat-button-toggle>
        <mat-button-toggle *ngIf="d.v == -1 " value="{{d.v}}"  (click)="todays(d)" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-button-toggle>
        
      </mat-button-toggle-group>
  

<div style="margin-left:4px;margin-right: 4px ;" *ngIf="!modeHours" >
<mat-list-item *ngFor="let item of (currentDatas$ | async )?.properties?.daily_forecast ;let index = index;" >
    
     <div mat-line >&nbsp;</div>
    <mat-card>
       
        <mat-card-title-group>
            <mat-card-title>{{item?.daily_weather_description  }}</mat-card-title>
            <mat-card-subtitle>{{item?.time | date :'mediumDate' }}</mat-card-subtitle>
            <img mat-card-sm-image src="assets/pictos/{{item?.daily_weather_icon}}.svg" >
          </mat-card-title-group>
        
        <mat-card-header>
  
          <mat-card-subtitle> 
        
        
            <button mat-mini-fab  color="warn">{{item?.T_min}}°</button>&nbsp;
            <button mat-mini-fab  color="primary">{{item?.T_max}}°</button>&nbsp;
            &nbsp;&nbsp;
            <button mat-stroked-button *ngIf="item?.T_sea" color="primary" matBadgeSize="medium" >mer {{item?.T_sea}}° </button>&nbsp;
            <button mat-stroked-button  color="primary" matBadgeSize="medium" >hu {{item?.relative_humidity_min}} / {{item?.relative_humidity_max}} %</button>&nbsp;
        </mat-card-subtitle> 
          <mat-card-subtitle><button mat-stroked-button *ngIf="item.total_precipitation_24h && item.total_precipitation_24h > 0" style='background-color: rgb(11, 180, 87);' >{{item?.total_precipitation_24h}} mm</button></mat-card-subtitle>
       
        </mat-card-header>
   
    </mat-card>    
 

</mat-list-item>    
</div>

<div *ngIf="modeHours" >

    <mat-list-item *ngFor="let item of forecast ;let index = index;" >
      
        <div mat-line >&nbsp;</div>
        <mat-card>
           
            <mat-card-title-group>
                <mat-card-title>{{item?.weather_description  }}</mat-card-title>
                <mat-card-subtitle>{{item?.time | date :'medium' }}</mat-card-subtitle>
                <img mat-card-sm-image src="assets/pictos/{{item?.weather_icon}}.svg" >
              </mat-card-title-group>
            
            <mat-card-header>
      
              <mat-card-subtitle> 
            
            
                <button mat-fab  color="primary">{{item?.T}}°</button>&nbsp;
                <button mat-mini-fab  color="accent">{{item?.T_windchill}}°</button>&nbsp;
                &nbsp;&nbsp;
                <button mat-stroked-button *ngIf="item.wind_speed > 0"  color="primary" matBadgeSize="medium"  matBadgeColor="warn" matBadge="{{item?.wind_speed_gust}}" [matBadgeHidden]="item?.wind_speed_gust <= 0" >{{item?.wind_speed}} km/h </button>&nbsp;
              
                <button mat-mini-fab color="accent" aria-label="direction">
                    <mat-icon svgIcon="{{item?.wind_icon}}"></mat-icon>
                  </button>
                  &nbsp;&nbsp;

                <button mat-stroked-button *ngIf="item?.P_sea" color="primary" matBadgeSize="medium" >{{item?.P_sea}} hpa</button>&nbsp;
         
            </mat-card-subtitle> 
              <mat-card-subtitle><button mat-stroked-button *ngIf="item.rain_24h && item.rain_24h > 0" style='background-color: rgb(11, 180, 87);' >{{item?.rain_24h}} mm</button></mat-card-subtitle>
           
            </mat-card-header>
       
        </mat-card>    
     
    
    </mat-list-item>   


</div>

</div>