.m-card {
    max-width: 400px;
    margin:0 auto;
    text-align: left;
    display: flex;
    justify-content:start space-around;
    _background: rgb(245,239,236);
    _background: radial-gradient(circle, rgba(245,239,236,0.3981967787114846) 0%, rgba(232,219,219,1) 100%);
  }
  


  .picto {
    background-image: url('../../assets/pictos/sprite-picto.png');
    background-repeat: no-repeat;
    display: block;
    margin-left: 2px;
    margin-top:12%;
}

.picto-P00 {
    width: 45px;
    height: 45px;
    background-Position: -5px -5px;

    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P01 {
    width: 45px;
    height: 45px;
    background-Position: -55px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P02 {
    width: 45px;
    height: 45px;
    background-Position: -105px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P03 {
    width: 45px;
    height: 45px;
    background-Position: -155px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P04 {
    width: 45px;
    height: 45px;
    background-Position: -205px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P05 {
    width: 45px;
    height: 45px;
    background-Position: -255px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P08 {
    width: 45px;
    height: 45px;
    background-Position: -5px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P09 {
    width: 45px;
    height: 45px;
    background-Position: -55px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P10 {
    width: 45px;
    height: 45px;
    background-Position: -105px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P11 {
    width: 45px;
    height: 45px;
    background-Position: -155px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P13 {
    width: 45px;
    height: 45px;
    background-Position: -205px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P15 {
    width: 45px;
    height: 45px;
    background-Position: -255px -55px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P20 {
    width: 45px;
    height: 45px;
    background-Position: -5px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P22 {
    width: 45px;
    height: 45px;
    background-Position: -55px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P23 {
    width: 45px;
    height: 45px;
    background-Position: -105px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P25 {
    width: 45px;
    height: 45px;
    background-Position: -155px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P26 {
    width: 45px;
    height: 45px;
    background-Position: -205px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P27 {
    width: 45px;
    height: 45px;
    background-Position: -255px -105px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P28 {
    width: 45px;
    height: 45px;
    background-Position: -5px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P29 {
    width: 45px;
    height: 45px;
    background-Position: -55px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P30 {
    width: 45px;
    height: 45px;
    background-Position: -105px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P31 {
    width: 45px;
    height: 45px;
    background-Position: -155px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P33 {
    width: 45px;
    height: 45px;
    background-Position: -205px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P35 {
    width: 45px;
    height: 45px;
    background-Position: -255px -155px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P36 {
    width: 45px;
    height: 45px;
    background-Position: -5px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P37 {
    width: 45px;
    height: 45px;
    background-Position: -55px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P38 {
    width: 45px;
    height: 45px;
    background-Position: -105px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P39 {
    width: 45px;
    height: 45px;
    background-Position: -155px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P40 {
    width: 45px;
    height: 45px;
    background-Position: -205px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P50 {
    width: 45px;
    height: 45px;
    background-Position: -255px -205px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P51 {
    width: 45px;
    height: 45px;
    background-Position: -5px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P54 {
    width: 45px;
    height: 45px;
    background-Position: -55px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P55 {
    width: 45px;
    height: 45px;
    background-Position: -105px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P58 {
    width: 45px;
    height: 45px;
    background-Position: -155px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P59 {
    width: 45px;
    height: 45px;
    background-Position: -205px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P62 {
    width: 45px;
    height: 45px;
    background-Position: -255px -255px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}

.picto-P63 {
    width: 45px;
    height: 45px;
    background-Position: -305px -5px;
    background-color: rgb(241, 236, 236);
    border: 1px solid transparent;
    border-radius: 100%;
}





.P23 {


}

.P00 {
 /*   background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(62,228,241,1) 100%);*/
        
    }


.P01 {
}

.P02 {
}

.P03 {
}

.P04 {
}

.P05 {
}

.P08 {
}

.P09 {

}

.P10 {

}

.P11 {

}

.P13 {

}

.P15 {

}

.P20 {

}

.P22 {

}

.P23 {
  /*  background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(221,101,21,1) 100%);*/
}

.P25 {

}

.P26 {

}

.P27 {

}

.P28 {

}

.P29 {

}

.P30 {

}

.P31 {

}

.P33 {

}

.P35 {

}

.P36 {

}
.P37 {
 
}

.P38 {

}

.P39 {
 
}

.P40 {

}

.P50 {

}

.P51 {

}

.P54 {

}

.P55 {

}

.P58 {

}

.P59 {
   
}

.P62 {

}

.P63 {

}