<div  *ngIf="ephe" >
    <mat-card style="margin:0 auto;width:85%" >Ephémérides  {{ ephe.properties.ephemeris.sunset_time | date :'EEEE dd LLL' }} </mat-card>

    <div mat-line >&nbsp;</div>
    <mat-card style="margin:0 auto;width:80%" class="mat-elevation-z4"  >
     
            <table class="demo">
            
                <thead>
                    <tr>
                        <th>Lever</th>
                        <th>  <img mat-card-sm-image src="assets/pictos/p1j.svg" > </th>
                        <th>Coucher</th>
                    </tr>
                    </thead>
                <tbody>
                <tr>
                    <td>{{ ephe.properties.ephemeris.sunrise_time | date :'HH:mm' }}</td>
                    <td>{{ ephe.properties.ephemeris.saint }} </td>
                    <td>{{ ephe.properties.ephemeris.sunset_time | date :'HH:mm'}}</td>
                </tr>
       
                </tbody>
            </table>
         
    </mat-card>

    <div mat-line >&nbsp;</div>
    <mat-card style="margin:0 auto;width:80%" class="mat-elevation-z4"  >
      
            <table class="demo">
           
            <thead>
            <tr>
                <th>Lever</th>
                <th>  <img mat-card-sm-image src="assets/pictos/p1n.svg" ></th>
                <th>Coucher</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ephe.properties.ephemeris.moonrise_time | date :'HH:mm'}}</td>
                <td>{{ ephe.properties.ephemeris.moon_phase_description }}</td>
                <td>{{ ephe.properties.ephemeris.moonset_time | date :'HH:mm'}}</td>
            </tr>
         
            </tbody>
        </table>
 
    </mat-card>
    <div mat-line >&nbsp;</div>




</div>  