
<div class="resp-container"  >
<iframe class="resp-iframe"  name="vesselfinder"  id="vesselfinder"  src="https://www.vesselfinder.com/aismap?zoom=14&amp;lat=48.6411&amp;lon=-2.03&amp;width=100%&amp;height=400&amp;names=false&amp;track=false&amp;fleet=false&amp;fleet_name=false&amp;fleet_hide_old_positions=false&amp;clicktoact=false&amp;store_pos=true&amp;ra=https%3A%2F%2Fwww.vesselfinder.com%2Fembed">Browser does not support embedded objects.<br/>Visit directly <a href="https://www.vesselfinder.com" target="_blank">www.vesselfinder.com</a></iframe>
</div>