
<router-outlet></router-outlet>
<div  [ngClass]=" isMobile  ? 'flexcol' : 'flexrow' " >
    <div *ngFor="let item of (datas$ | async)" >
    <youtube-player [height]="height" [width]="width" videoId="{{item.id}}"></youtube-player>   
    </div>


    

        <div id="visor-video"  [ngClass]=" isMobile  ? 'flexcol' : 'flexrow' "    >

            <div *ngFor="let u of (skaping$ | async)"  >
         
            <iframe [height]="height" [width]="width"  [src]="u" >
            </iframe>        
            </div>
           
           
          </div>


</div>