<mat-grid-list cols="2" rowHeight="3:1" gutterSize="10" style="margin: 10px ;">
    <mat-grid-tile [colspan]="1"  [rowspan]="1"  routerLink="/actualites"   [style.background]="'#e11d33'" style='color:white' ><mat-icon>chrome_reader_mode</mat-icon>Actualités</mat-grid-tile>
    <mat-grid-tile [colspan]="1"  [rowspan]="1"  routerLink="/agenda"   [style.background]="'#2e4996'" style='color:white' ><mat-icon>view_agenda</mat-icon>Agenda</mat-grid-tile>
    <mat-grid-tile [colspan]="1"  [rowspan]="1"  routerLink="/maree"   [style.background]="'#2e4996'" style='color:white' ><mat-icon>waves</mat-icon>Marées</mat-grid-tile>
    <mat-grid-tile [colspan]="1"  [rowspan]="1"  routerLink="/port"   [style.background]="'#2e4996'" style='color:white' ><mat-icon>directions_boat</mat-icon>Port</mat-grid-tile>
    <mat-grid-tile [colspan]="1"  [rowspan]="1"  routerLink="/meteo"   [style.background]="'#2e4996'" style='color:white' ><mat-icon>wb_sunny</mat-icon>Météo</mat-grid-tile>
    <mat-grid-tile [colspan]="1"  [rowspan]="1" routerLink="/webcam"    [style.background]="'#2e4996'" style='color:white' ><mat-icon>linked_camera</mat-icon>Webcam</mat-grid-tile>
    



  </mat-grid-list>
